@page
@model MyApp.Namespace.AboutModel
@{
}

<div class="main-information">
    <h1 class="display-4">Om sidan</h1>
  <button type="button" class="collapsible">Information om mig</button>

  <div class="collapsiblediv">
    <ul>
        <li><b>Namn:</b> Sofia Dahlberg</li>
        <li><b>Ålder:</b> 29</li>
        <li><b>Vad jag ser fram emot 2024:</b> Att få jobba som webbutvecklare</li>
        <li><b>Planerade resor 2024:</b> Spanien & New York</li>
    </ul>
  </div>
</div>
