@page
@model IndexModel
@{
    ViewData["Title"] = "Razor moment 1";
}

<div class="main-information">
    <h1 class="display-4">Startsida</h1>
  <p> Det ska bli kul att få lära sig mer om C#, Razor och Blazor. Jag ser väldigt mycket fram emot den här kursen. </p>
   
</div>
