@page
@model MyApp.Namespace.RazorModel
@{
}
<div class="main-information">
<h1 class="display-4">Razor</h1>
<h2 class="display-7">Information</h2>
@{
    var date = DateTime.Now;
}
<p><b>Datum/klockslag</b>: @date</p>
<p class="bold-text">Vad är det för dag idag?</p>
@{
    if(DateTime.Now.DayOfWeek.ToString()=="Monday")
    {
        <p>Idag är det måndag</p>
    }
    else{
<p>Idag är det inte måndag</p>
    }
}
<p class="bold-text">De kurser jag läst:</p>
@{
    string[] courses = {"DT057G, Webbutveckling I"
    , "DT084G, Introduktion till programmering i Javascript"
    , "DT200G, Datateknik för webb"
    , "DT069G, Webbanvändbarhet"
    , "DT003G, Databser"
    , "DT093G, Webbutveckling II"
    , "DT173G, Webbutveckling III"
    , "DT197G, Webbdesign för CMS"
    , "IK060G, Projektledning"
    , "DT193G, Fullstacksutveckling med ramverk"};
}
<ul>
@foreach(var course in courses) {
    <li>@course</li>
}
</ul>
</div>

